body {
	color: #bd93f9;
	background: #282a36;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3 {
	color: #ff89c6;
	text-align: center;
}

.icon {
	width: 100px;
}

a:link {
  color: #ff5555;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff5555;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f1fa8c;
  background-color: transparent;
  text-decoration: underline;
}

@font-face {
  font-family: mononoki-nerd;
  src: url(src/mononoki-nerd.ttf);
}
body {
  font-family: "mononoki", monospace;
}
